* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(27, 26, 26, 0.521);
  color: #fff;
}

#cursor {
  width: 50px;
  height: 50px;
  position: fixed;
  background: url('./img/cursiri.png') no-repeat center center;
  background-size: contain;
  pointer-events: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;         
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 16%;
  background: transparent;
  transition: all 0.5s ease;
}

.logo {
  font-size: 36px;
  color: #fff;
  font-weight: 600;
}

span {
  color: #e71919;
}

.navlist {
  display: flex;
}

.navlist a {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-left: 40px;
  transition: all 0.5s ease;
}

.navlist a:hover {
  color: #cf0000;
  text-shadow: 3px 3px 20px rgb(185, 34, 14), -2px 1px 30px yellow;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(146, 141, 141);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-divider {
  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  background-color: #e9ecef;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#menu-icon {
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  color: white;
  display: none;
}

.h-btn {
  display: inline-block;
  padding: 11px 26px;
  background: transparent;
  color: red;
  border: 2px solid red;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s ease;
}

.h-btn:hover {
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 20px rgb(199, 53, 17);
  transform: scale(1.2);
}

/* hero section */
section {
  padding: 110px 16% 90px;
}

.hero {
  height: 100vh;
  width: 100%;
  background: url("./img/nadhimalim.png");
  background-position: top right;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px -10px 20px rgba(70, 8, 8, 0.753);
}

.main-content h4 {
  font-size: 1.6rem;
}

.main-content h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 5px 0px 5px;
  line-height: 1.2;
  color: #cf0000;
}

#typed-text-1 {
  color: #990f0f; /* Warna untuk teks pertama */
}

#typed-text-2 {
  color: #fff; /* Warna untuk teks kedua */
}

.main-content p {
  font-size: 1rem;
  font-weight: 200;
  width: 750px;
  max-width: 100%;
  color: #fff;
  line-height: 20px;
  margin-bottom: 10px;
}

.social {
  margin-bottom: 20px;
}

.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #990f0f;
  border-radius: 50%;
  backdrop-filter: brightness(88%);
  font-size: 20px;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
  transition: all 0.5s ease;
}

.social i:hover {
  transform: scale(2);
  box-shadow: 0 0 20px rgb(185, 109, 109);
}

.btn {
  display: inline-block;
  padding: 11px 26px;
  background: #cf0000;
  color: #fff;
  border: 2px solid #cf0000;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: #cf0000;
  box-shadow: 0 0 20px rgb(236, 56, 56);
}

.btn2 {
  background: transparent;
  color: #cf0000;
  transition: all 0.5s ease;
}

.btn2:hover {
  transform: scale(1.2);
}

#follow-count {
  text-align: center;
  margin-bottom: 10px;
}

.h-btn1 {
  background: #cf0000;
  color: #fff;
  transition: all 0.5s ease;
}

header.sticky {
  background: rgb(146, 141, 141);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
  padding: 16px 16%;
}

.pendidikan {
  background: #fff;
}



/* pengalaman */
.cardpengalaman {
  border-radius: 20px;
}

.cardpengalamanbtn {
  background-color: rgb(146, 141, 141);
}

.cardpengalamanbtn:hover {
  background-color: #990f0f;
}

/* katakatamotivasi */
.katakatamotivasi {
  background-image: url("./img/peng1.jpg");
  background-size: cover;
  background-position: center;

  width: 100%;
}

.katakatamotivasi .moti h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
  color: #ce0b0b;
}

.katakatamotivasi:hover .moti h2 {
  animation: textColorChange 1s linear infinite; /* Mengubah warna teks saat dihover */
}

@keyframes textColorChange {
  0% {
    color: #ce0b0b;
  }
  50% {
    color: #ff0000;
  }
  100% {
    color: #ce0b0b;
  }
}

/* skill section */

/* /prestasi */
.section-prestasi {
  padding: 50px 20px;
  background-color: rgb(146, 141, 141);
}

.section-prestasi .prestasih2 {
  text-align: center;
  color: #420202;
  font-weight: 700;
  font-size: 3em; /* Adjust the font size as needed */
  margin-bottom: 40px; /* Add margin to separate from the container */
}

.prestasi-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.prestasi-item {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  perspective: 1000px;
  border-radius: 10px;
}

.prestasi-item .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s;
}

.prestasi-item .front {
  transform: rotateY(0deg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.prestasi-item .front img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.prestasi-item .front h3 {
  width: 100%;
  height: 20%;
  line-height: 45px;
  color: white;
  text-align: center;
  background-color: rgb(172, 8, 8);
  margin: 0;
}

.prestasi-item .back {
  transform: rotateY(180deg);
  background-color: rgb(138, 21, 21);
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.prestasi-item .back h3 {
  font-size: 20px;
  letter-spacing: 2px;
}

.prestasi-item .back .prestasitulisan {
  margin-top: 10px;
}

.prestasi-item .back .linkcard {
  border-top: solid 1px rgb(248, 16, 16);
  padding-top: 20px;
}

.prestasi-item .back .linkcard a {
  color: white;
}

.prestasi-item:hover .front {
  transform: rotateY(180deg);
}

.prestasi-item:hover .back {
  transform: rotateY(360deg);
}

.prestasi-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
}

.prestasi-item p {
  font-size: 1em;
  color: white;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .prestasi-item {
    width: 100%;
  }
}



/* kontak */
.center-text1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(151, 7, 7);
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4.2rem;
}

.contact-form form {
  position: relative;
  width: 100%;
  max-width: 600px;
}

form input,
form textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px rgb(100, 65, 65);
  background: rgb(146, 141, 141);
  color: #fff;
  margin-bottom: 20px;
  font-weight: 800;
  border-radius: 8px;
}

form input::placeholder,
form textarea::placeholder {
  color: #fff;
  font-size: 15px;
}

form .sendbtn {
  cursor: pointer;
  display: inline-block;
  padding: 11px 26px;
  border: 2px solid #a88e8e;
  transition: all 0.5s ease;
  width: 100%; /* Changed to 100% */
  max-width: 200px; /* Added max-width */
}

form .sendbtn:hover {
  background-color: #290404;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
  .contact-form {
    margin: 2rem;
  }
  form input,
  form textarea {
    font-size: 14px;
  }
}

footer {
  padding: 22px 16%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.copyright p {
  font-size: 15px;
  font-weight: 600;
}

.scroll-top i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(162, 204, 204);
  width: 45px;
  height: 45px;
  border-radius: 20px;
  color: black;
  font-size: 20px;
}

@media (max-width: 1700px) {
  header {
    padding: 20px 8%;
  }
  header.sticky {
    padding: 14px 8%;
  }
  section {
    padding: 90px 8% 80px;
  }
  footer {
    padding: 18px 8%;
  }
  .logo {
    font-size: 28px;
  }
}

@media (max-width: 1380px) {
  header {
    padding: 20px 5%;
    
    
  }

  
  header.sticky {
    padding: 14px 5%;
  }
  section {
    padding: 90px 5% 80px;
  }
  footer {
    padding: 18px 5%;
  }
  .logo {
    font-size: 28px;
  }
  .hero {
    height: 90vh;
    background-position: center;
  }
}

@media (max-width: 950px) {
  .social {
    margin-bottom: 20px;
  }
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(146, 141, 141);
    transition: all 0.5s ease;
  }
  .navlist a {
    display: block;
    padding: 17px;
    font-size: 22px;
  }
  .navlist.active {
    right: 0;
  }
}

@media (max-width: 680px) {
  .main-content h4 {
    font-size: 20px;
  }
  .main-content h1 {
    font-size: 40px;
  }
  .main-content p {
    width: 100%;
    font-size: 15px;
  }
}
